n8n_workflows/user_signup_welcome_email.json
{
  "name": "NexusAI Auth Workflow (Single Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-trigger",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "e8e5cdfa-e6f7-41ec-b82b-df55f053e198",
      "name": "Webhook (Auth Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.event }}",
        "numberOutputs": 2,
        "rules": {
          "rules": [
            {
              "value2": "otp"
            },
            {
              "value2": "signup"
            }
          ]
        }
      },
      "id": "e8e5cdfa-e6f7-41ec-b82b-df55f053e200",
      "name": "Switch (Check Event)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "<YOUR_BREVO_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"NexusAI\",\n    \"email\": \"ydvhimanshu461@gmail.com\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.body.email }}\",\n      \"name\": \"{{ $json.body.username || 'Developer' }}\"\n    }\n  ],\n  \"subject\": \"{{ $json.body.code }} — NexusAI Login Code\",\n  \"htmlContent\": \"<div style=\\\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 40px 30px; border: 1px solid #1e293b; border-radius: 16px; background-color: #0f172a; color: #ffffff;\\\">\\n  <div style=\\\"text-align: center; margin-bottom: 30px;\\\">\\n    <h1 style=\\\"color: #8b5cf6; margin: 0; font-size: 32px; font-weight: 800; letter-spacing: -0.05em;\\\">NexusAI<span style=\\\"color: #38bdf8;\\\">.AI</span></h1>\\n    <p style=\\\"color: #94a3b8; margin: 5px 0 0 0; font-size: 14px;\\\">Autonomous Multi-Agent AI Operating System</p>\\n  </div>\\n  \\n  <div style=\\\"background: linear-gradient(90deg, #8b5cf6 0%, #38bdf8 100%); height: 4px; border-radius: 2px; margin-bottom: 30px;\\\"></div>\\n  \\n  <h2 style=\\\"color: #ffffff; margin-top: 0; font-size: 24px; font-weight: 700; text-align: center;\\\">Verification Code</h2>\\n  \\n  <p style=\\\"color: #cbd5e1; font-size: 16px; line-height: 1.6; text-align: center; margin-bottom: 25px;\\\">\\n    Hi {{ $json.body.username || 'Developer' }},<br>\\n    Use the 6-digit code below to securely sign in to your NexusAI workspace:\\n  </p>\\n  \\n  <div style=\\\"text-align: center; margin: 30px 0;\\\">\\n    <div style=\\\"display: inline-block; background: rgba(139, 92, 246, 0.1); border: 2px solid #8b5cf6; border-radius: 12px; padding: 18px 40px; font-size: 36px; font-weight: 800; letter-spacing: 6px; color: #a78bfa; font-family: monospace; box-shadow: 0 4px 20px rgba(139, 92, 246, 0.15);\\\">\\n      {{ $json.body.code }}\\n    </div>\\n  </div>\\n  \\n  <p style=\\\"color: #94a3b8; font-size: 14px; text-align: center; margin-bottom: 30px;\\\">\\n    This code will expire in <strong>10 minutes</strong>. If you did not request this verification, you can safely ignore this email.\\n  </p>\\n  \\n  <hr style=\\\"border: 0; border-top: 1px solid #1e293b; margin: 30px 0 20px 0;\\\" />\\n  \\n  <p style=\\\"color: #64748b; font-size: 12px; text-align: center; margin: 0;\\\">\\n    This email was sent to {{ $json.body.email }} because you requested to sign in.<br>\\n    &copy; 2026 NexusAI AI. All rights reserved.\\n  </p>\\n</div>\"\n}"
      },
      "id": "673f47c3-305f-4632-9cb5-4519962a95d0",
      "name": "Send OTP Email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "<YOUR_BREVO_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": {\n    \"name\": \"NexusAI\",\n    \"email\": \"ydvhimanshu461@gmail.com\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.body.email }}\",\n      \"name\": \"{{ $json.body.username || $json.body.email.split('@')[0] }}\"\n    }\n  ],\n  \"subject\": \"Welcome to NexusAI! 🚀\",\n  \"htmlContent\": \"<div style=\\\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; padding: 40px 30px; border: 1px solid #1e293b; border-radius: 16px; background-color: #0f172a; color: #ffffff;\\\">\\n  <div style=\\\"text-align: center; margin-bottom: 30px;\\\">\\n    <h1 style=\\\"color: #8b5cf6; margin: 0; font-size: 32px; font-weight: 800; letter-spacing: -0.05em;\\\">NexusAI<span style=\\\"color: #38bdf8;\\\">.AI</span></h1>\\n    <p style=\\\"color: #94a3b8; margin: 5px 0 0 0; font-size: 14px;\\\">Autonomous Multi-Agent AI Operating System</p>\\n  </div>\\n  \\n  <div style=\\\"background: linear-gradient(90deg, #8b5cf6 0%, #38bdf8 100%); height: 4px; border-radius: 2px; margin-bottom: 30px;\\\"></div>\\n  \\n  <h2 style=\\\"color: #ffffff; margin-top: 0; font-size: 24px; font-weight: 700;\\\">Welcome to the future, {{ $json.body.username || $json.body.email.split('@')[0] }}! 👋</h2>\\n  \\n  <p style=\\\"color: #cbd5e1; font-size: 16px; line-height: 1.6; margin-bottom: 25px;\\\">\\n    We are thrilled to have you join NexusAI! You are now equipped with an autonomous multi-agent coding and automation workspace, designed to turn your prompts into production-grade software applications instantly.\\n  </p>\\n  \\n  <div style=\\\"background-color: #1e293b; border-left: 4px solid #8b5cf6; padding: 20px; margin-bottom: 30px; border-radius: 0 8px 8px 0;\\\">\\n    <h3 style=\\\"color: #ffffff; margin: 0 0 12px 0; font-size: 16px; font-weight: 600;\\\">What you can build right now:</h3>\\n    <ul style=\\\"color: #94a3b8; font-size: 15px; line-height: 1.6; margin: 0; padding-left: 20px;\\\">\\n      <li style=\\\"margin-bottom: 8px;\\\"><strong style=\\\"color: #ffffff;\\\">Engineer AI:</strong> Describe project ideas in plain text, and see agents write, debug, and preview code in full-screen.</li>\\n      <li style=\\\"margin-bottom: 8px;\\\"><strong style=\\\"color: #ffffff;\\\">Research Agent:</strong> Perform deep knowledge queries and generate multi-perspective analytical papers.</li>\\n      <li style=\\\"margin-bottom: 0;\\\"><strong style=\\\"color: #ffffff;\\\">Automation Runs:</strong> Create custom backend pipelines and workflows with n8n blueprints.</li>\\n    </ul>\\n  </div>\\n  \\n  <div style=\\\"text-align: center; margin: 35px 0 25px 0;\\\">\\n    <a href=\\\"http://localhost:5173/dashboard\\\" style=\\\"background: linear-gradient(135deg, #8b5cf6 0%, #7c3aed 100%); color: #ffffff; text-decoration: none; padding: 14px 32px; font-size: 16px; font-weight: 600; border-radius: 8px; display: inline-block; box-shadow: 0 4px 10px rgba(139, 92, 246, 0.3);\\\">Open Your Workspace</a>\\n  </div>\\n  \\n  <hr style=\\\"border: 0; border-top: 1px solid #1e293b; margin: 30px 0 20px 0;\\\" />\\n  \\n  <p style=\\\"color: #64748b; font-size: 12px; text-align: center; margin: 0;\\\">\\n    This email was sent to {{ $json.body.email }} because you registered on NexusAI.AI.<br>\\n    &copy; 2026 NexusAI AI. All rights reserved.\\n  </p>\\n</div>\"\n}"
      },
      "id": "673f47c3-305f-4632-9cb5-4519962a95c9",
      "name": "Send Welcome Email (Brevo)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        400
      ]
    }
  ],
  "connections": {
    "Webhook (Auth Trigger)": {
      "main": [
        [
          {
            "node": "Switch (Check Event)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Check Event)": {
      "main": [
        [
          {
            "node": "Send OTP Email (Brevo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome Email (Brevo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "f7d7e7e6-81cf-4d7a-ba9b-3e5f410c5123"
}
